In [28]:
import pandas as pd
import random
df = pd.read_csv("all_history.csv")
df = df.set_index("Date")
df.head(5)

,A,AA,AAAP,AABB,AAC,AAL,AAMC,AAME,AAN,AAOI,...,ZSTN,ZTR,ZTS,ZULU,ZUMZ,ZVLO,ZVTK,ZWBC,ZYNE,ZYXI
Date,,,,,,,,,,,,,,,,,,,,,
01/03/2000,43.76,70.69,24.50,77.49,9.87,18.19,9.26,2.09,24.51,9.96,...,7.52,2.46,29.05,0.06,12.44,26.75,3750000.0,12.75,16.25,1.28
01/04/2000,40.42,71.02,25.00,77.49,9.96,19.33,8.65,2.15,20.62,10.10,...,7.20,2.48,29.06,0.06,12.26,25.00,10000000.0,12.75,19.32,1.31
01/05/2000,37.91,75.11,25.26,77.49,9.78,19.05,8.26,2.20,17.75,10.00,...,7.50,2.49,29.08,0.05,12.05,27.50,7500000.0,30.00,24.54,1.32
01/06/2000,36.46,74.13,25.02,77.49,9.83,19.81,8.39,2.09,17.02,10.00,...,7.55,2.51,29.07,0.05,12.12,25.50,4450000.0,25.00,35.14,1.31
01/07/2000,39.50,73.91,24.62,77.49,9.90,20.27,8.96,2.15,16.88,9.97,...,7.31,2.56,29.98,0.05,11.75,27.34,2750000.0,16.00,29.73,1.29

Date
01/03/2000    24.51
01/04/2000    20.62
01/05/2000    17.75
01/06/2000    17.02
01/07/2000    16.88
01/10/2000    17.34
01/11/2000    17.57
01/12/2000    16.65
01/13/2000    15.93
01/14/2000    15.99
Name: AAN, dtype: float64

In [29]:
df.head(30)

,A,AA,AAAP,AABB,AAC,AAL,AAMC,AAME,AAN,AAOI,...,ZSTN,ZTR,ZTS,ZULU,ZUMZ,ZVLO,ZVTK,ZWBC,ZYNE,ZYXI
Date,,,,,,,,,,,,,,,,,,,,,
01/03/2000,43.76,70.69,24.50,77.49,9.87,18.19,9.26,2.09,24.51,9.96,...,7.52,2.46,29.05,0.06,12.44,26.75,3750000.0,12.75,16.25,1.28
01/04/2000,40.42,71.02,25.00,77.49,9.96,19.33,8.65,2.15,20.62,10.10,...,7.20,2.48,29.06,0.06,12.26,25.00,10000000.0,12.75,19.32,1.31
01/05/2000,37.91,75.11,25.26,77.49,9.78,19.05,8.26,2.20,17.75,10.00,...,7.50,2.49,29.08,0.05,12.05,27.50,7500000.0,30.00,24.54,1.32
01/06/2000,36.46,74.13,25.02,77.49,9.83,19.81,8.39,2.09,17.02,10.00,...,7.55,2.51,29.07,0.05,12.12,25.50,4450000.0,25.00,35.14,1.31
01/07/2000,39.50,73.91,24.62,77.49,9.90,20.27,8.96,2.15,16.88,9.97,...,7.31,2.56,29.98,0.05,11.75,27.34,2750000.0,16.00,29.73,1.29
01/10/2000,41.90,73.69,25.00,77.49,9.77,20.89,8.75,2.15,17.34,10.00,...,6.72,2.56,30.96,0.05,11.56,25.81,2750000.0,25.00,32.05,1.29
01/11/2000,41.33,73.26,25.90,77.49,10.00,20.93,8.86,2.09,17.57,10.20,...,6.00,2.46,31.16,0.05,11.58,24.50,3500000.0,25.00,36.49,1.27
01/12/2000,40.49,72.60,25.20,77.49,9.85,21.29,8.29,2.09,16.65,10.18,...,6.01,2.46,31.61,0.05,12.41,23.25,3500000.0,25.00,34.84,1.25
01/13/2000,41.10,71.29,25.15,77.49,9.86,20.88,8.28,2.15,15.93,10.12,...,5.85,2.44,31.43,0.05,12.56,22.50,2250000.0,25.00,34.11,1.23
01/14/2000,41.55,69.87,25.62,77.49,9.89,20.94,8.30,2.20,15.99,10.15,...,5.89,2.44,31.17,0.05,12.85,23.38,1000000.0,20.00,32.22,1.23
01/18/2000,43.45,68.13,25.80,77.49,9.88,20.72,8.29,2.06,16.29,10.20,...,5.97,2.46,31.83,0.08,12.75,26.12,3750000.0,25.00,31.28,1.20
01/19/2000,42.54,68.24,26.50,77.49,9.95,20.51,7.88,2.37,16.39,10.18,...,6.00,2.42,31.70,0.09,12.90,29.50,4250000.0,25.00,28.18,1.22
01/20/2000,41.40,64.20,26.44,77.49,9.91,20.47,7.50,2.26,16.63,10.00,...,6.20,2.42,30.65,0.09,12.88,27.12,3250000.0,25.00,27.39,1.20
01/21/2000,41.78,65.83,26.58,77.49,9.90,20.99,7.74,2.26,16.64,10.18,...,6.10,2.42,30.50,0.09,12.53,32.12,2500000.0,22.00,26.80,1.19
01/24/2000,41.63,64.14,26.44,77.49,9.87,20.82,6.91,2.54,16.67,10.25,...,6.27,2.44,30.53,0.06,12.65,29.62,2500000.0,22.00,23.07,1.19
01/25/2000,41.14,63.16,26.64,77.49,9.83,20.26,6.65,2.15,17.34,10.44,...,6.19,2.44,30.04,0.09,12.70,30.00,2500000.0,25.00,22.75,1.17
01/26/2000,41.52,62.18,26.50,77.49,9.84,20.16,6.41,2.54,16.79,11.01,...,6.17,2.39,30.01,0.06,12.81,29.62,2000000.0,29.00,25.67,1.09
01/27/2000,41.59,61.58,29.01,77.49,9.81,19.82,6.52,2.49,16.65,12.90,...,6.12,2.42,30.28,0.06,13.00,26.75,2025000.0,29.00,27.40,1.09
01/28/2000,41.36,60.70,29.42,77.49,9.80,20.70,6.00,2.49,15.84,13.13,...,6.12,2.42,31.33,0.08,13.55,24.56,2025000.0,22.00,28.11,1.07
01/31/2000,40.23,60.87,29.56,77.49,9.80,21.03,6.24,2.32,15.49,13.11,...,6.42,2.42,32.41,0.07,13.81,26.25,2200000.0,22.00,28.75,1.09
02/01/2000,43.15,62.99,29.50,77.49,9.81,20.74,6.52,2.60,15.52,12.61,...,7.00,2.44,32.18,0.07,14.09,28.69,2000000.0,22.00,30.04,1.10
02/02/2000,46.49,65.35,29.21,77.49,9.80,21.04,6.26,2.49,15.14,12.36,...,6.90,2.42,32.12,0.05,14.38,26.62,1650000.0,21.62,28.78,1.09
02/03/2000,47.25,63.32,29.64,77.49,9.80,21.27,6.34,2.37,15.65,11.87,...,6.74,2.44,31.71,0.05,14.00,26.00,1650000.0,20.12,28.80,1.12
02/04/2000,46.34,61.79,29.78,77.49,9.80,22.53,6.24,2.32,16.76,13.06,...,6.49,2.44,32.37,0.05,13.66,25.75,1650000.0,20.12,27.89,1.18
02/07/2000,48.32,59.71,29.41,77.49,9.82,23.27,6.35,2.49,17.53,12.55,...,6.70,2.44,31.93,0.05,13.70,25.94,1500000.0,20.12,26.11,1.18
02/08/2000,48.01,57.79,29.48,77.49,9.83,23.59,6.00,2.32,17.39,12.68,...,6.75,2.46,32.02,0.07,13.65,24.50,1300000.0,15.00,23.99,1.14
02/09/2000,46.04,56.64,31.96,77.49,9.81,25.97,5.91,2.49,18.10,12.76,...,7.48,2.44,31.68,0.11,13.58,24.50,750000.0,10.00,20.80,1.23
02/10/2000,46.61,57.41,29.80,77.49,9.83,26.27,5.82,2.43,19.28,13.00,...,6.96,2.42,31.85,0.25,14.92,25.00,750000.0,10.00,20.73,1.20
02/11/2000,45.81,59.32,29.71,77.49,9.83,27.15,5.35,2.49,19.76,13.00,...,7.18,2.39,32.45,0.39,15.15,24.12,815000.0,10.00,21.02,1.29
02/14/2000,46.45,63.32,29.82,77.49,9.81,27.27,5.44,2.43,18.67,13.12,...,7.10,2.42,31.32,0.25,15.12,21.62,700000.0,10.00,20.59,1.33

In [30]:
def get_history(begin_date, end_date, stock_index):
    # Gets the rows between begin_date and end_date for the stock at df[stock_index]
    sub_df = df.iloc[begin_date:end_date, stock_index]
    
    print(sub_df)
        

get_history(0, 10, 1)

Date
01/03/2000    70.69
01/04/2000    71.02
01/05/2000    75.11
01/06/2000    74.13
01/07/2000    73.91
01/10/2000    73.69
01/11/2000    73.26
01/12/2000    72.60
01/13/2000    71.29
01/14/2000    69.87
Name: AA, dtype: float64

In [100]:
def randomize_ticker():
    ticker_index = random.randint(0, len(df.columns))
    sub_df = df.iloc[:, ticker_index]
    return sub_df.name.upper()
    

def randomize_start(period_length):
    """Takes a length parameter that will be added to a random start date and represent the period analyzed"""
    rand_start = random.randint(0, (len(df) - period_length))
    
    return rand_start
    

#   Trim null-valued prices from the df
#     prices = df[ticker.upper()]
#     prices = prices.dropna()
    
#   Trim possible dates so that rand_start + period_length will not throw an out-of-bounds exception
    
    
    
def create_portfolio(period_length, num_tickers):
#   df to hold the data from each ticker
    prices_df = pd.DataFrame({})

    start_index = randomize_start(period_length)
    
    i = 0
    while i < num_tickers:
#       Run the randomizer and trim values
        ticker = randomize_ticker()
        ticker_index = df.columns.get_loc(ticker)
        ticker_df = df.iloc[start_index : start_index + period_length, [ticker_index]]

#       Clean null values and randomize again if necessary
        ticker_df = ticker_df.dropna()
        if (len(ticker_df) < period_length):
            # Break and decrement i if there are null values in the date range
            print("\nSeries contains null values.  Choosing a different ticker...")
            i -= 1

        else:
            # Add the data as intended.
            if prices_df.empty:
                prices_df = ticker_df
            else:
                prices_df = pd.concat([prices_df, ticker_df], axis=1)
#                   prices_df = prices_df.merge(prices_df, ticker_df)
#       
        i += 1
    
    
    print("\n\nFinal prices_df: ")
    print(prices_df.head(10))
    
    return prices_df
    
    
# test_ticker = randomize_ticker()
# print(test_ticker)

# randomize_start(10)

In [101]:
sample_portfolio_1 = create_portfolio(56, 6)
print(type(sample_portfolio_1))
sample_portfolio_1.describe()

# Programmatically generate weights for each asset in the returned dataframe

Series contains null values.  Choosing a different ticker...

Series contains null values.  Choosing a different ticker...

Series contains null values.  Choosing a different ticker...

Series contains null values.  Choosing a different ticker...

Series contains null values.  Choosing a different ticker...

Series contains null values.  Choosing a different ticker...

Series contains null values.  Choosing a different ticker...

Series contains null values.  Choosing a different ticker...


Final prices_df:
               TNH    BAK  BNET   ASTE   TFSL    KRO
Date
12/21/2015  102.59   9.78  0.99  35.69  12.13  11.94
12/22/2015  102.26  10.01  0.82  36.89  12.32  12.23
12/23/2015  102.04  10.38  0.90  38.63  12.40  12.05
12/24/2015  101.87  10.46  0.85  38.30  12.53  12.18
12/28/2015  103.63  10.69  0.90  37.68  12.58  12.17
12/29/2015  102.40  10.55  0.80  37.90  12.68  12.12
12/30/2015  101.82   9.83  0.80  37.89  12.63  11.89
12/31/2015  101.58   9.64  0.74  37.58  12.82  11.98
01/04/2016  104.49   9.44  0.67  36.48  12.57  12.02
01/05/2016  109.11   9.14  0.77  35.84  12.68  12.36
<class 'pandas.core.frame.DataFrame'>

              TNH        BAK       BNET       ASTE       TFSL        KRO
count   56.000000  56.000000  56.000000  56.000000  56.000000  56.000000
mean   101.121964   9.080714   0.935179  35.928750  12.082143  11.312321
std      4.027344   0.660173   0.074076   2.943419   0.562972   0.902983
min     90.670000   8.110000   0.670000  31.660000  11.180000   9.710000
25%     97.745000   8.522500   0.925000  33.867500  11.517500  10.365000
50%    101.845000   9.025000   0.960000  35.250000  12.180000  11.470000
75%    104.305000   9.530000   0.982500  37.892500  12.587500  12.062500
max    109.110000  10.690000   0.990000  42.280000  12.970000  12.650000

In [ ]:
# We will store the period, start date, and portfolios in a class file.  We can then have
# an array of Portfolios to compare.

class Portfolio:
    # instance variables/attributes...
    size = 10 # The initial size or num_stocks in the portfolio
    n_periods = 10 # The number of trading days the portfolio analysis takes place over
    start_date_index = 0
    
    weights = [] # Weights that will be assigned to each of the assets in the portfolio
    
    stdev = 0
    hpr = 0
    hpr_annualized = 0
    risk_adj_return = 0
    alpha = 0
    
    history_df
    analysis_df
    
    # Constructor
    def __init__(self):
        print("Initialized new Portfolio instance")
    
    # Methods...
#   Assign weights
    def assign_weights():
        target = 1

#   Weight standard deviation
    def weighted_stdev():
        print("")
            

#   Weight HPR

#   Annualize HPR

#   Compute risk-adj Return

#   Compare analysis to benchmark for alpha

#   Write analysis metrics to analysis_df